<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329411506917-596tm1vimrb06t8u6fsealc2bd7sif8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329411506917-596tm1vimrb06t8u6fsealc2bd7sif8f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329411506917-5v1daur2ioctg4h2ga3liic17gb1sq8b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0-pYjM7AhxTe9iBLBoMA8nwUla5ro66k</string>
	<key>GCM_SENDER_ID</key>
	<string>329411506917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.chat</string>
	<key>PROJECT_ID</key>
	<string>fcmchat-564b5</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmchat-564b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329411506917:ios:124ebaa2b943c005f19a0c</string>
</dict>
</plist>